[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pika = "*"
google-cloud-bigquery = "*"
flask = "*"
google-cloud-pubsub = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
